::-webkit-scrollbar {
  background-color: rgb(34, 28, 28);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(117, 110, 110) !important;
}

body {
  background-color: #300c0c !important;
}

.logo {
  max-width: 110px;
}

nav {
  margin-top: 20px;
}

nav ul {
  position: absolute;
  left: -40px;
  top: 250px;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  width: 300px;
}

a {
  color: grey !important;
}

.install {
  position: absolute;
  left: 110;
  top: 750px;
}

.topNav {
  color: white;
  position: absolute;
  top: 0;
  left: 300px;
}

.arrows a {
  color: rgb(255, 255, 255) !important;
}

.arrows {
  font-size: 40px;
}

.userSect {
  position: absolute;
  top: 10px;
  left: 1400px;
}

.userImg {
  max-width: 50px;
  border-radius: 50%;
}

.dropdown {
  background: url(/Assets/vs.png);
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-color: black !important;
}

.btndropdown {
  background-color: black !important;
  border-style: none !important;
}

.goodMorning {
  color: white;
  position: absolute;
  left: 270px;
  top: 100px;
  font-weight: bold;
}

.goodMorningTxt {
  position: absolute;
  left: 270px;
  top: 80px;
  color: white;
  font-size: 40px;
}

.goodMorningOptions {
  position: absolute;
  left: 270px;
  top: 140px;
}

.goodMorningTwo {
  color: white;
  position: absolute;
  top: 160px;
}

.card {
  background-color: #352726 !important;
  max-height: 100px !important;
  max-width: 300px;
}

.card-text {
  text-align: center !important;
  vertical-align: middle !important;
  line-height: 80px;
  margin: 5px;
  color: white;
}

.cardTopImg {
  max-width: 120px;
  border-radius: 3%;
}

