::-webkit-scrollbar {
  background-color: rgb(34, 28, 28);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(117, 110, 110) !important;
}

body {
  background-color: #1b1119 !important;
  overflow-x: hidden;
}

.logo {
  position: relative;
  max-width: 130px;
  left: 45px;
}
.logoHome {
  position: relative;
  top: 10px;
  left: 45px;
  max-width: 20px;
  max-height: 20px;
}

.homeTxt {
  position: relative;
  left: 35px;
}

.logoSearch {
  position: relative;
  top: 10px;
  left: 45px;
  max-width: 20px;
  max-height: 20px;
}

.searchTxt {
  position: relative;
  left: 35px;
}

.logoLibrary {
  position: relative;
  top: 10px;
  left: 45px;
  max-width: 20px;
  max-height: 20px;
}

.libraryTxt {
  position: relative;
  left: 35px;
}

.logoPlaylist {
  position: relative;
  top: 10px;
  left: 45px;
  max-width: 20px;
  max-height: 20px;
}

.createPlaylistTxt {
  position: relative;
  left: 35px;
}

.logoSpotifyHeart {
  position: relative;
  top: 10px;
  left: 45px;
  max-width: 20px;
  max-height: 20px;
}

.likedSongsTxt {
  position: relative;
  left: 35px;
}
.logoInstall {
  position: relative;
  top: 515px;
  left: 45px;
  max-width: 20px;
  max-height: 20px;
}

nav ul {
  position: absolute;
  left: -10px;
  top: 320px;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  width: 300px;
  max-height: 600px;
}

a {
  color: rgb(192, 192, 192) !important;
}

p {
  margin-top: 0;
  margin-bottom: 0rem !important;
}
.install {
  position: absolute;
  left: 55px;
  top: 815px;
}

.topNav {
  color: white;
  position: absolute;
  top: 0;
  left: 300px;
}

.arrows a {
  color: rgb(255, 255, 255) !important;
}

.arrows {
  font-size: 40px;
}

.userSect {
  position: absolute;
  top: 10px;
  left: 1400px;
}

.userImg {
  max-width: 50px;
  border-radius: 50%;
}

.dropdown {
  background: url(/Assets/vs.png);
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-color: black !important;
}

.btndropdown {
  background-color: black !important;
  border-style: none !important;
}

.goodMorningTxt {
  position: absolute;
  left: 290px;
  top: 60px;
  color: white;
  font-size: 30px;
}

.goodMorningOptions {
  position: absolute;
  left: 300px;
  top: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  position: relative;
  max-height: 100px !important;
  width: 300px !important;
  background-color: rgba(98, 96, 91, 0.253) !important;
  color: white;
}

.cardTopImg {
  max-width: 90px;
  height: 90px !important;
}

.cardText {
  position: relative;
  top: 35%;
  right: 30%;
}

.col-sm {
  flex-basis: 0px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 100%;
  margin-bottom: 10px;
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.recentlyPlayedTxt {
  position: absolute;
  top: 320px;
  left: 290px;
  color: white;
  font-size: 30px;
}

.recentlyPlayedOptions {
  position: absolute;
  top: 370px;
  left: 300px;
}

.card-img-top-recently {
  width: 160%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-text-recently {
  color: grey;
}

.card-body-recently {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: -0.75rem;
  width: 180%;
}

.container-fluid-recently {
  width: 85%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 85% !important;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.showsToTryTxt {
  position: absolute;
  top: 620px;
  left: 290px;
  color: white;
  font-size: 30px;
}

.showsToTryTxt > p {
  font-weight: normal !important;
  font-size: 15px;
  color: grey;
}

.showsToTryOptions {
  position: absolute;
  top: 700px;
  left: 300px;
}

.seeAllRecently {
  color: white;
  position: absolute;
  right: 50px;
  top: 320px;
}

.seeAllShowToTry {
  color: white;
  position: absolute;
  right: 50px;
  top: 650px;
}

.footer {
  position: fixed !important;
  left: 0;
  height: 80px;
  bottom: 0 !important;
  width: 100%;
  background-color: rgb(65, 60, 60);
  color: white !important;
  text-align: center;
}

.playerImg {
  position: absolute;
  max-height: 50px;
  top: 15px;
  left: 35px;
  margin-bottom: 3px;
}

.playerTrack {
  position: relative;
  left: 70px;
  top: 5px;
}

.playerIcons {
  position: relative;
  left: 330px;
}

.artistName {
  color: grey;
  position: absolute;
  left: 8px;
}

.playerHeart {
  max-height: 20px;
  position: absolute;
  top: 15px;
  right: 250px;
}

.playerPages {
  max-height: 20px;
  position: absolute;
  top: 15px;
  right: 220px;
}

.playButton {
  position: absolute;
  left: 50%;
  top: 10px;
  max-height: 40px;
}

.rewindButton {
  position: absolute;
  left: 47%;
  top: 20px;
  max-height: 20px;
}

.forwardButton {
  position: absolute;
  left: 54%;
  top: 20px;
  max-height: 20px;
}

.startTime {
  position: absolute;
  left: 500px;
}

.progressBar {
  position: absolute;
  left: 600px;
}

.endTime {
  position: absolute;
  right: 500px;
}

.playlistPlayButton {
  position: absolute;
  right: 240px;
  top: 28px;
  height: 25px;
}

.playlistDevicesButton {
  position: absolute;
  right: 210px;
  top: 30px;
  height: 20px;
}

.playlistVolButton {
  position: absolute;
  right: 180px;
  top: 30px;
  height: 20px;
}

.slidecontainer {
  position: absolute;
  right: 40px;
  top: 30px;
}
/* Album Page 

.main{
  /* background-image: linear-gradient( 179.4deg,  rgba(132,56,122,1) 14.6%, rgba(190,24,49,1) 104.7% ); */
/* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
} */
