/*nav{
    background-color: black;
    padding: 20px;
    padding-left: 10px;
    max-width: 200px;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    color: white;
}*/

nav ul {
    position: absolute;
    left: -30px;
    top: 320px;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    width: 269px;
    max-height: 600px;
    background-color: black;
  }
  
  nav {
    background-color: rgb(14, 10, 10);
    width: 240px;
    height: 860px;
    position: fixed;
    
  }

    .logo {
        position: relative;
        max-width: 130px;
        left: 20px;
      }


ul{
    list-style: none;
}   

.card-text{
    overflow: hidden;
    text-overflow: ellipsis;
}


h6{
    text-align: right;
}
